<div class="main">
    <div class="show-text">
	    <p class="color">Title:</p>
	    <%= @book.title %>
    </div>
    <div class="show-text">
	    <p class="color">Body:</p>
	    <%= @book.body %>
    </div>

    <%= link_to "Edit", edit_book_path(@book), class: "color underline" %> | <%= link_to "Back", books_path, class: "color underline" %>
</div>