<div class="">
	<span class="">Title:</span>
	<%= @book.title %>
</div>
<div class="">
	<span class="">Body:</span>
	<%= @book.body %>
</div>

<%= link_to "Edit", edit_book_path(@book) %> | <%= link_to "Back", books_path %>